<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnection" connectionString="Server=localhost;Port=5432;Database=moviecrud;User Id=postgres;Password=postgrespw;Integrated Security=true;"/>
		<add name="DbConnectionTests" connectionString="Server=localhost;Port=5432;Database=moviecrudtest;User Id=postgres;Password=postgrespw;Integrated Security=true;"/>
	</connectionStrings>
</configuration>